@import "tailwindcss";

/* FONTS */
@font-face {
	font-family: 'NectoMono';
	src: url('/fonts/NectoMono-Regular.woff2') format('woff2'), url('/fonts/NectoMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	height: 100dvh;
}

/* dark mode animate */
.dm--animate {
	transition: ease-in-out 400ms;
	transition-property: background-color, color;
}

@theme {
	--color-bg: #070a08;
	--color-text: #47854E;
	--color-text-d: #47854E;
	--font-main: "NectoMono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));


a {
	text-shadow: #c9c9c9 1px 0 4px;
	transition: all ease-in-out 300ms;
}

a:hover {
	filter: blur(3px);
	transition: ease-in-out 300ms;
}
