@import "tailwindcss";

/* FONTS */
@font-face {
	font-family: 'NectoMono';
	src: url('/fonts/NectoMono-Regular.woff2') format('woff2'), url('/fonts/NectoMono-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	height: 100dvh;
}

/* dark mode animate */
.dm--animate {
	transition: ease-in-out 400ms;
	transition-property: background-color, color;
}

@theme {
	--color-primary: #312320;
	--color-secondary: #4A5D46;
	--color-surface: #F7DFCA;
	--color-accent: #CC5500;

	--font-main: "NectoMono", monospace;

	--text-shadow-m: 1px 0 4px;
}

@custom-variant dark (&:where(.dark, .dark *));


a {
	transition: all ease-in-out 300ms;
}

a:hover.blur--link {
	filter: blur(3px);
	transition: ease-in-out 300ms;
}

a .blur--link {
	transition: all ease-in-out 300ms;
}

a:hover .blur--link {
	filter: blur(3px);
	transition: ease-in-out 300ms;
}
