---
import Layout from "../layouts/main.astro"
import Link from "@/components/ui/link.astro"
---

<Layout>
  <div class="w-full max-w-lg m-auto flex items-center justify-center">
    <div class="flex flex-col gap-2 m-10 md:mx-0 text-sm md:text-base">
      <Link href="/">â† take me home</Link>
      <h1 class="font-bold mt-3">The blog, as it were, does not yet exist.</h1>
    </div>
  </div>
</Layout>
