---

---

<!doctype html>
<html lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML Day Barcelona 2025</title>
    <style>
      body {
        font-family: sans-serif;
        max-width: 600px;
        margin: 2rem auto 6rem auto;
        padding: 1rem;
        line-height: 1.6;
        color: #312320;
        background-color: #f7dfca;
      }
      @media (width <= 1024px) {
        h1 {
          margin-inline: 2rem;
          line-height: 2rem;
        }
      }
      hr {
        color: #312320;
      }
      h1 {
        text-align: center;
      }
      h2 {
        margin-block: 1rem;
        margin-top: 2rem;
      }
      h3 {
        margin-block: 0.7rem;
      }
      p {
        margin: 0;
      }
      a {
        color: #4a5d46;
      }

      #details-square {
        padding: 10px;
        border: 1px solid #312320;
        width: min-content;
        text-wrap-mode: nowrap;
        margin-inline: auto;
      }
      .small-text {
        font-size: 13px;
        font-weight: 400;
        display: inline;
      }
    </style>
    {
      import.meta.env.PROD && (
        <script
          defer
          src="https://umami.fbold.dev/script.js"
          data-website-id="9dd31f09-dc94-4273-aa11-dfc8f6628847"
        />
      )
    }
  </head>
  <body>
    <h1>HTML Day Barcelona 2025</h1>
    <div id="details-square">
      dissabte 2 d'agost (02-08-2025)<br />
      17:30 - 19:30<br />
      <a target="_blank" href="https://maps.app.goo.gl/kFZNbPEDPNF3XM4r8"
        >Parc de les Glòries</a
      ><br />
      <span class="small-text"
        >(si teniu un millor suggeriment per on fer-ho aviseu :)</span
      >
    </div>
    <h2>
      Català
      <span class="small-text"
        >(<a href="#castellano">Castellano</a> & <a href="#english">English</a> ↓)</span
      >
    </h2>
    <hr class="divider" />
    <h3>Què és?</h3>
    <p>
      HTML Day és una celebració anual de l'HTML on persones arreu del món es
      reuneixen per escriure i aprendre HTML per diversió.
    </p>
    <h3>Què porto?</h3>
    <p>
      Porteu un portàtil (carregat) o algun dispositiu capaç d'editar HTML. Unes
      mantes anirien bé també :)
    </p>
    <h3>Qui ho organitza?</h3>
    <p>
      En <a href="https://fbold.dev/">Fred</a>. Hola :3
    </p>
    <h3>Interested?</h3>
    <p>
      Si penses venir envia'm un correu (<a href="mailto:fbold.dev@gmail.com"
        >fbold.dev@gmail.com</a
      >) o uneix-te al <a target="_blank" href="https://t.me/+zcee5IzJXaI2OTI0"
        >grup de telegram</a
      >, així us puc avisar si canvia alguna cosa :)
    </p>
    <h3>Més informació i altres ciutats</h3>
    <p>
      HTML Day és una iniciativa de <a href="https://html.energy/"
        >HTML Energy</a
      >. A la seva web pots llegir més sobre la iniciativa, els seus orígens, i
      trobar altres ciutats on s'estarà celebrant.
    </p>
  </body>

  <section id="castellano">
    <h2>Castellano</h2>
    <hr class="divider" />
    <h3>¿Qué es?</h3>
    <p>
      HTML Day es una celebración anual del HTML donde personas de todo el mundo
      se reúnen para escribir y aprender HTML por diversión.
    </p>
    <h3>¿Qué llevo?</h3>
    <p>
      Lleva un portátil (cargado) o algún dispositivo que pueda editar HTML.
      Unas mantas también vendrían bien :)
    </p>
    <h3>¿Quién lo organiza?</h3>
    <p>
      <a href="https://fbold.dev/">Fred</a>. Hola :3
    </p>
    <h3>¿Te interesa?</h3>
    <p>
      Si planeas venir, mándame un correo (<a href="mailto:fbold.dev@gmail.com"
        >fbold.dev@gmail.com</a
      >) o únete al <a target="_blank" href="https://t.me/+zcee5IzJXaI2OTI0"
        >grupo de telegram</a
      >, así puedo avisarte si algo cambia :)
    </p>
    <h3>Más información y otras ciudades</h3>
    <p>
      HTML Day es una iniciativa de <a href="https://html.energy/"
        >HTML Energy</a
      >. En su web puedes leer más sobre la iniciativa, sus orígenes, y
      encontrar otras ciudades donde se estará celebrando.
    </p>
  </section>
  <section id="english">
    <h2>English</h2>
    <hr class="divider" />
    <h3>What is it?</h3>
    <p>
      HTML Day is an annual celebration of HTML where people around the world
      gather to write and learn HTML for fun.
    </p>
    <h3>What should I bring?</h3>
    <p>
      Bring a (charged) laptop or any device that can edit HTML. Some blankets
      would be nice too :)
    </p>
    <h3>Who’s organizing it?</h3>
    <p>
      <a href="https://fbold.dev/">Fred</a>. Hi :3
    </p>
    <h3>Interested?</h3>
    <p>
      If you're planning to come, send me an email (<a
        href="mailto:fbold.dev@gmail.com">fbold.dev@gmail.com</a
      >) or join the <a target="_blank" href="https://t.me/+zcee5IzJXaI2OTI0"
        >telegram group</a
      > so I can let you know if anything changes :)
    </p>
    <h3>More info and other cities</h3>
    <p>
      HTML Day is an initiative by <a href="https://html.energy/">HTML Energy</a
      >. On their website, you can learn more about the event, its origins, and
      find other cities where it's being celebrated.
    </p>
  </section>
</html>
