---
import "../styles/global.css"
import Meander from "../components/meander.astro"

const links = [
  { name: "portfolio", href: "portfolio.fbold.dev" },
  { name: "blog", href: "blog.fbold.dev" },
  { name: "tao", href: "tao.fbold.dev" },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-bg text-text font-main text-md">
    <Meander />
    <div
      class="h-full w-full max-w-lg mx-auto flex flex-col items-center justify-center"
    >
      <div class="relative mx-20">
        <!-- <div -->
        <!--   class="w-[calc(100%+40px)] h-[calc(100%+20px)] -translate-x-5 border border-text block p-4 top-3" -->
        <!-- > -->
        <!-- </div> -->
        <div
          class="text-center bg-bg absolute p-1 px-2 left-1/2 -translate-x-1/2 text-nowrap -translate-y-1/2"
        >
          <h1 class="">Hi, I'm Fred</h1>
          <!-- This is the landing page, these are relevant links: -->
        </div>
        <div
          class="flex flex-col text-white gap-2 bg-bg text-center text-xl items-center justify-center border border-text p-6 px-10"
        >
          {
            links.map((link) => (
              <a
                class="relative group cursor-pointer w-min transition-colors hover:text-white underline md:no-underline"
                href={link.href}
              >
                {link.name}
                <span class="h-[1px] bg-white w-full absolute block transition-[scale,opacity] duration-150 scale-x-0 group-hover:scale-x-100 opacity-0 group-hover:opacity-100 origin-center" />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </body>
</html>
