---
import "../styles/global.css"
import Meander from "../components/meander.astro"

const links = [
  { name: "portfolio", href: "portfolio.fbold.dev" },
  { name: "blog", href: "blog.fbold.dev" },
]
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-bg text-text font-main text-lg">
    <div
      class="h-full w-full max-w-lg mx-auto flex flex-col items-center justify-center"
    >
      <Meander />
      <div class="text-center mb-5 px-20">
        Hi, I'm Fred.<br />This is the landing page, these are relevant links:
      </div>
      <div class="flex flex-col gap-2 text-center items-center justify-center">
        {
          links.map((link) => (
            <a
              class="relative group cursor-pointer w-min transition-colors hover:text-white underline md:no-underline"
              href={link.href}
            >
              {link.name}
              <span class="h-[1px] bg-white w-full absolute block transition-[scale,opacity] duration-150 scale-x-0 group-hover:scale-x-100 opacity-0 group-hover:opacity-100 origin-center" />
            </a>
          ))
        }
      </div>
    </div>
  </body>
</html>
