@import "tailwindcss";

@font-face {
    font-family: "Absans";
    src: url("/fonts/CLT Absans/web/Absans-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexMonoB";
    src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexMono";
    src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexMonoEL";
    src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-ExtraLight.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "IBMPlexMonoItalic";
    src: url("/fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf") format("truetype");
    font-display: swap;
}

:root {
    font-family: "Absans", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html * {
    scrollbar-width: thin;
    scrollbar-gutter: 4px;
}

*::-webkit-scrollbar-thumb {
    background: var(--bruh);
}

* pre::-webkit-scrollbar-thumb {
    background: var(--bruh);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100dvh;
    background: none;
}

#root {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#menu {
    transition: transform 400ms;
}

#menu div {
    transition: all 400ms;
}

#menu div:nth-child(1) {
    opacity: 0;
}

#menu.hide div:nth-child(1) {
    opacity: 1;
    z-index: 30;
}

#menu.hide div:nth-child(2) {
    opacity: 0;
}

#menu.hide div:nth-child(3) {
    transform: translateY(-100%);
    opacity: 0;
}

#menu.hide div:nth-child(4) {
    transform: translateY(-200%);
    opacity: 0;
}

#contact {
    transform: translateY(100vh);
    transition: transform 400ms;
}

#contact.show {
    transform: translateY(0)
}

#contact div {
    background-color: rgba(1, 1, 1, 0.4);
}

#projects {
    transform: translateY(100vh);
    transition: transform 400ms;
}

#projects.show {
    transform: translateY(0)
}

#projects .row {
    background-color: rgba(1, 1, 1, 0.4);
}

#projects .row:nth-child(2) {
    transition: transform 400ms;
    transition-delay: 100ms;
    transform: translateY(100vh);
}

#projects.show .row:nth-child(2) {
    transform: translateY(0);
}

#projects .row:nth-child(3) {
    transition: transform 400ms;
    transition-delay: 200ms;
    transform: translateY(100vh);
}

#projects.show .row:nth-child(3) {
    transform: translateY(0);
}

#projects .row:nth-child(4) {
    transition: transform 400ms;
    transition-delay: 300ms;
    transform: translateY(100vh);
}

#projects.show .row:nth-child(4) {
    transform: translateY(0);
}
